body { line-height:1; }
al, ul {list-style: none;}
blackquote, q {quotes: none;}
blackquote:before, blackquote:after, q:before, q:after, {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* Style */
body {font: 16px/28px arial, sans-serif; background-color: #eaeaea; color: #333}

.top-bar {position: fixed; top: 0; left: 0; right: 0; height: 40px; background-color: palegoldenrod; border-bottom: 3px dashed black; z-index: 9999;} 
.container {width: 960px; margin: 80px auto; background-color: #fff}
.instagram { width:200px; height: 200px; background-image: url(instagram2.png); 
	background-repeat: no-repeat;display: inline-block; text-indent: -9999px; position: absolute; top: 80px; right: 150px;}
.header {padding: 20px; padding-bottom: 10px;}
.header .judul {font-size: 40px; font-weight: bold;}
.header ul li {display: inline-block; margin-top: 20px; margin-right: 10px;}
.header a {text-decoration: none; color: salmon;}
.header a:hover {background-color: lightskyblue; color: white;}
.hero {height: 800px; background-image: url(fotonopi.jpg); background-size: cover; 
background-position: 0 -100; border-bottom: 5px solid lightskyblue; border-top: 5px solid salmon;}
.content {padding: 20px;}
.content h2 {font-size: 28px; font-weight: bold;}
.content .penulis {font-size: 11px; margin-top: -5px;}
.content .penulis a {color: salmon; text-decoration: none;}
.content p {margin-bottom: 20px; font-size: 14px;}
.footer {background-color: #333;}
.footer .copy {color: #eaeaea; text-align: center; font-size: 12px;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;

}