body { line-height:1; }
al, ul {list-style: none;}
blackquote, q {quotes: none;}
blackquote:before, blackquote:after, q:before, q:after, {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* Style */
body {font: 10px/28px arial, sans-serif; background-color: #eaeaea; color: #333}

.container {width: 800px; margin: auto; background-color: #fff}
.header {padding: 20px;}
.header .judul {font-size: 40px; font-weight: bold;}
.header ul li {display: inline-block; margin-top: 20px; margin-right: 10px;}
.header a {text-decoration: none; color: salmon;}
.header a:hover {background-color: lightskyblue; color: white;}
.hero {height: 800px; background-image: url(fotonopi.jpg); background-size: cover; 
background-position: 0 -50; border-bottom: 5px solid lightskyblue; border-top: 5px solid salmon;}
.content {width: 600px; padding: 20px; box-sizing: border-box; float: left;}
.content h2 {font-size: 28px; font-weight: bold;}
.content .penulis {font-size: 11px; margin-top: -5px;}
.content .penulis a {color: salmon; text-decoration: none;}
.content p {margin-bottom: 20px; font-size: 16px;}

/* sidebar */
.sidebar {width: 300px; float: right; padding: 20px;}
.sidebar h3 {font-weight: bold; color: #666;}
.sidebar img {width: 70px; height: 70px;}

.footer {background-color: #333;}
.footer .copy {color: #eaeaea; text-align: center; font-size: 12px;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}